<footer>
    <div class="container">
        <div class="row justify-content-md-center social-icons mb-3">
            <a href="https://www.facebook.com/muktomonaofficial" title="Facebook"><img src="/assets/FB Icon.svg" alt="Facebook"></a>
            <a href="https://twitter.com/AvijitsMM" title="Twitter"><img src="/assets/Twitter Icon.svg" alt="Twitter"></a>
            <a href="https://www.youtube.com/channel/UCKqgpT9IV2wUMueMF7cCsSw" title="Youtube"><img src="/assets/Youtube Icon.svg" alt="Youtube"></a>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-3 text-center my-4">
                <a href="@Context.GetLink("/")"><img id="flogo" class="img-fluid center" src="/assets/mm logo inv.svg" alt="MuktoMona Logo"></a>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-12 text-center">
                <ul class="list-inline text-center small">                                
                    @{
                        IDocument rssFeed = Outputs["**/*.rss"].FirstOrDefault();
                        IDocument atomFeed = Outputs["**/*.atom"].FirstOrDefault();
                    }
                    @if (rssFeed != null) {
                        <li class="list-inline-item">
                            <a href="@Context.GetLink(rssFeed)"><i class="fa fa-rss"></i> RSS Feed</a>
                        </li>
                    }
                    @if (atomFeed != null) {                            
                        <li class="list-inline-item">
                            <a href="@Context.GetLink(atomFeed)"><i class="fa fa-rss"></i> Atom Feed</a>
                        </li>
                    }
                </ul>
                <p class="copyright text-white m-0"> মুক্তমনা © ২০২০, সর্বস্বত্ব সংরক্ষিত। </p>
            </div>
        </div>
    </div>
</footer>