<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="list-inline text-center small">                                
                    @{
                        IDocument rssFeed = Outputs["**/*.rss"].FirstOrDefault();
                        IDocument atomFeed = Outputs["**/*.atom"].FirstOrDefault();
                    }
                    @if (rssFeed != null) {
                        <li class="list-inline-item">
                            <a href="@Context.GetLink(rssFeed)"><i class="fa fa-rss"></i> RSS Feed</a>
                        </li>
                    }
                    @if (atomFeed != null) {                            
                        <li class="list-inline-item">
                            <a href="@Context.GetLink(atomFeed)"><i class="fa fa-rss"></i> Atom Feed</a>
                        </li>
                    }
                </ul>
                <p class="copyright text-muted m-0"> মুক্তমনা © ২০২০, সর্বস্বত্ব সংরক্ষিত। </p>
            </div>
        </div>
    </div>
</footer>