<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
  <div class="container">
    <a class="navbar-brand" href="@Context.GetLink("/")"><img id="logo" class="img-fluid center" src="/assets/mm logo.svg" width="70%" alt="MuktoMona Logo"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div id="collapse-topnav" class="collapse navbar-collapse flex-wrap">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">ব্লগ নীড়পাতা</a></li>
            <li class="nav-item"><a class="nav-link" href="/">পরিচিতি</a></li>
            <li class="nav-item"><a class="nav-link" href="/">বিষয়ভিত্তিক</a></li>
            <li class="nav-item"><a class="nav-link" href="/">পডকাস্ট</a></li>
            <li class="nav-item"><a class="nav-link" href="/">ই-গ্রন্থাগার</a></li>
            <li class="nav-item"><a class="nav-link" href="/">বিবর্তন আর্কাইভ</a></li>
            <li class="nav-item"><a class="nav-link" href="/">অভিজিৎ রায়</a></li>
            <li class="nav-item"><a class="nav-link" href="/">সহায়িকা</a></li>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      @Html.Partial("_navbar")
    </div>
  </div>
</nav>