@foreach(IDocument doc in Context.OutputPages.Where(x => x.GetBool("ShowInNavbar", x.GetBool("IsPage"))).OrderBy(x => x.GetInt(Keys.Order)))
{
  // Pages get added to the navigation bar by default,
  // other pages (including posts) only if they have ShowInNavbar set to true
  <li class="nav-item">
    @Html.DocumentLink(
      doc,
      doc.GetString("NavbarTitle", doc.GetTitle()),
      new Dictionary<object, object> { { "class", "nav-link" } })
  </li>
}
