<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href='@Context.GetLink("/")'>@Context.GetString("SiteTitle")</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        @Html.Partial("_navbar")
        @if (Context.GetBool(WebKeys.GenerateSearchIndex))
        {
          <li class="nav-item">
            <span class="nav-link">
              <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
                <input type="submit" hidden />
              </form>
            </span>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
