@model IDocument

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">        
        @{
            bool first = true;
        }
        @foreach (IDocument post in Model.GetChildren())
        {
            if (!first)
            {
                <hr>
            }
            first = false;
            @Html.Partial("/_post.cshtml", post)
        }
        
        @{
            IDocument older = Model.GetDocument(Keys.Next);
            IDocument newer = Model.GetDocument(Keys.Previous);
        }
        @if (older != null || newer != null)
        {
            <hr>
            <div class="d-flex flex-row justify-content-between">
                <div>
                    @if (older != null)
                    {
                        <a class="btn btn-primary" href="@Context.GetLink(older)" role="button">Older</a>
                    }
                </div>
                <div>
                    @if (newer != null)
                    {
                        <a class="btn btn-primary" href="@Context.GetLink(newer)" role="button">Newer</a>
                    }
                </div>
            </div>
        }
    </div>
</div>