footer {
  padding: 1.25rem 0;
  line-height: $line-height-sm;

  p {
    margin-top: 0;
    margin-bottom: $paragraph-margin-bottom;
  }

  .list-inline {
    margin: 0;
    padding: 0;
  }

  @import "copyright";
}
